
<div class="user-inverse" style="padding-top:80px;">
	<h1>メッセージ</h1>
	<%= form_for @message, url: user_recipient_user_messages_path do |f| %>
		<p><%= f.text_field :content, class: "receruitment_new-show-info col-xs-8", :placeholder => "内容" %></p>

		<%= f.submit "送信する" %>
	<% end %>
	<% @messages.each do |message| %>
		<div>
		<%= message.user.name %>
		<%= message.content %>
		</div>
	<% end %>
</div>