<h1>バンドメンバー募集記事一覧</h1>
<% @recruitments.each do |recruitment| %>
	<div><%= attachment_image_tag recruitment.user, :profile_image, :fill, 50, 50,class: "profile-img", fallback: "no_image.jpg", :width => '100', :height => '100' %></div>
	<%= link_to recruitment_path(recruitment.id) do %>
		<%= recruitment.title %>
	<% end %>
	<label><%= recruitment.user.name %></label>
	<label><%= recruitment.user.pref %></label>
	<label><%= recruitment.user.gender %></label>
	<label><%= recruitment.user.birthday %></label>
<% end %>
