
<div class="user-edit-inverse" style="padding-top:80px;">
	<div class="search-form-box">
		<h1 class="header-buttons-search-recruitments search-user">バンド加入希望記事投稿</h1>
		<%= form_for(@recruitment) do |f| %>
			<table class="newform">
				<tbody>
					<tr>
						<th><label>記事の種類</label></th>
						<td>
							<div class="search-select-box">
								<%= f.select :recruitment_type, Recruitment.recruitment_types.keys.to_a, style:"color:black;" %>
							</div>
						</td>
					</tr>
					<tr>
						<th><label>記事の件名</label></th>
						<td>
							<%= f.text_field :title, class: "receruitment_new-show-info col-sm-6 col-xs-7", :placeholder => "" %>
						</td>
					</tr>
					<tr>
						<th><label>活動周期</label></th>
						<td>
							<div class="search-select-box">
								<%= f.select :activity_day, Recruitment.activity_days.keys.to_a, style:"color:black;" %>
							</div>
						</td>
					</tr>
					<tr>
						<th><label>都道府県</label></th>
						<td>
							<div class="search-select-box">
								<%= f.collection_select :pref, JpPrefecture::Prefecture.all, :name, :name, class: "sign-up-info-box" %>
							</div>
						</td>
					</tr>
					<tr>
						<th><label>活動地域</label></th>
						<td>
							<div class="search-select-box">
								<%= f.select :activity_area, Recruitment.activity_areas.keys.to_a, style:"color:black;" %>
							</div>
						</td>
					</tr>
					<tr>
						<th><label>活動の方向性</label></th>
						<td>
							<div class="search-select-box">
								<%= f.select :activity_direction, Recruitment.activity_directions.keys.to_a, style:"color:black;" %>
							</div>
						</td>
					</tr>
					<tr>
						<th><label>演奏楽曲</label></th>
						<td>
							<div class="search-select-box">
								<%= f.select :playing_music, Recruitment.playing_musics.keys.to_a, style:"color:black;" %>
							</div>
						</td>
					</tr>
					<tr>
						<th><label>音源</label></th>
						<td>
							<div class="youtube">"https://www.youtube.com/embed/</div>
							<div><%= f.text_field :sound_source, class: "receruitment_new-show-info col-sm-6 col-xs-7", :placeholder => "" %></div>""
						</td>
					</tr>
					<tr>
						<th><label>加入パート</label></th>
						<td>
							<%= f.fields_for :recruitment_charges do |m| %>
							<%= m.collection_select :charge_id,
					                                Charge.all,
					                                :id,
					                                :name,
					                                multiple: true,
					                                prompt: 'パート' %>
							<% end %>
						</td>
					</tr>
					<tr>
						<th><label>ジャンル</label></th>
						<td>
							<%= f.fields_for :recruitment_categories do |m| %>
							<%= m.collection_select :category_id,
					                                Category.all,
					                                :id,
					                                :name,
					                                multiple: true,
					                                prompt: 'ジャンル' %>
							<% end %>
						</td>
					</tr>
					<tr>
						<th><label>記事の内容</label></th>
						<td>
							<%= f.text_area :introduction, :size=>"60x10" , :placeholder => "", class: "introduction-box" %>
						</td>
					</tr>
					<tr>
						<th>
							<%= f.submit "記事を投稿する", class: "start-search-button col-xs-12 bg-danger", style: "color:black;" %>
						</th>
					</tr>
				</tbody>
			</table>
		<% end %>
	</div>
</div>
