
<div class="user-inverse" style="padding-top:80px;">
	<div class="search-form-box">
		<h1 class="header-buttons-subscriptions search-user">記事検索結果</h1>
		<% @searchresult.each do |recruitment| %>
			<div class="recruitment-box">
				<div class="recruitment-image-box">
					<%= attachment_image_tag recruitment.user, :profile_image, :fill, 50, 50,class: "profile-img", fallback: "no_image.jpg", :width => '100', :height => '100' %>
				</div>
				<div class="recruitment-title-user-box">
					<div class="recruitment-title-box"><%= link_to recruitment_path(recruitment.id) do %>
						<%= recruitment.title %>
					<% end %></div>
					<label><%= recruitment.user.name %></label>
					（
					<label><%= recruitment.user.pref %></label>
					<label><%= recruitment.user.gender %></label>
					<label><%= recruitment.user.birthday %></label>
					）
				</div>
			</div>
		<% end %>
	</div>
</div>
