<section class="main-box user-inverse" style="padding-top:40px;">
  <p class="page-title">パスワードの変更</p>
  <div class="contents-box">
    <div class="field-box">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :現在のパスワード %><br/>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", style: "background-color:transparent;" %>
        </div>

        <div class="field">
          <%= f.label :新しいパスワード %><br/>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", style: "background-color:transparent;", placeholder: "８文字以上" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :パスワード再入力 %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", style: "background-color:transparent;", placeholder: "８文字以上" %>
        </div>

        <div class="actions">
          <div align="right" style="padding-top:10px;">
            <%= f.submit "変更内容を保存", class: "btn-lg users-edits-button-style" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
