
<div class="user-inverse" style="padding-top:80px;">
  <div class="search-form-box">
    <h1 class="header-buttons-search-users search-user">メールアドレスの編集</h1>
    <div class="users-edit-boxes">
    	<%= form_for(@user) do |f| %>
        <div class="recruitment-information-box">
          <label class="recruitment-information-contents">
            <label class="recruitment-information-title">● 現在のメールアドレス：</label>
            <label><%= @user.email %></label>
          </label>
        </div>
        <div class="recruitment-information-box">
          <label class="recruitment-information-title">●新しいメールアドレス</label>
          <div><%= f.text_field :email, class: "col-xs-7" %></div>
        </div><br>
        <div><%= f.submit "編集する" %></div>
        <div><%= link_to edit_user_path(@user.id) do %>
          <button type="button" class="users-edits-button-style" >編集画面に戻る</button>
        <% end %></div>
      <% end %>
    </div>
  </div>
</div>
