

<div class="users-edit-box">
    <div class="">
    	<i class="fa fa-sign-in"></i>
    </div>
		<p class="users-edit-title">登録情報の編集</p>
  <div class="users-edit-boxes">
  	<p class="users-edit-information">
      <label class="users-edit-information-contents">
        <label>画像</label>
        <%= attachment_image_tag @user, :profile_image, :fill, 50, 50,class: "profile-img", fallback: "no_image.jpg", :width => '200', :height => '200' %>
      </label>
      <%= link_to edit_profile_image_user_path(@user.id) do %>
        <button type="button" class="users-edits-button-style" >編集</button>
      <% end %>
	</p>
	<p class="users-edit-information-name">
		<label>名前：</label>
		<label><%= @user.name %></label>
    </p>
    <p class="users-edit-information">
      <label class="users-edit-information-contents">
        <label>メールアドレス：</label>
        <%= @user.email %>
      </label>
      <%= link_to edit_email_user_path(@user.id) do %>
        <button type="button" class="users-edits-button-style" >編集</button>
      <% end %>
	</p>
    <p class="users-edit-information">
      <label class="users-edit-information-contents">
        <label>パスワード：</label>
        <%= @user.encrypted_password %><br>
      </label>
      <%= link_to edit_password_user_path(@user.id) do %>
        <button type="button" class="users-edits-button-style" >編集</button>
      <% end %>
    </p>
    <p class="users-edit-information">
      <label class="users-edit-information-contents">
        <label>性別：</label>
        <%= @user.gender%>
      </label>
    </p>
    <p class="users-edit-information">
      <label class="users-edit-information-contents">
        <label>誕生日：</label>
        <%= @user.birthday %>
      </label>
    </p>
    <p class="users-edit-information">
      <label class="users-edit-information-contents">
        <label>都道府県</label>
        <%= @user.pref %>
      </label>
    </p>
    <p class="users-edit-information">
      <label class="users-edit-information-contents">
        <label>URL</label>
        <%= @user.url %>
      </label>
    </p>
    <p class="users-edit-information">
      <label class="users-edit-information-contents">
        <label>好みのジャンル</label>
        <% @user_categories.each do |user_category| %>
        	<%= user_category.category.name %>
        <% end %>
      </label>
    </p>
    <p class="users-edit-information">
      <label class="users-edit-information-contents">
        <label>担当楽器</label>
        <% @user_charges.each do |user_charge| %>
        	<%= user_charge.charge.name %>
        <% end %>
      </label>
    </p>
    <p class="users-edit-information">
      <label class="users-edit-information-contents">
        <label>好きなアーティスト</label>
        <% @favorite_artists.each do |favorite_artist| %>
        	<%= favorite_artist.name %>
        <% end %>
      </label>
    </p>
    <p class="users-edit-information">
      <label class="users-edit-information-contents">
        <label>好きなアルバム</label>
        <% @favorite_albums.each do |favorite_album| %>
        	<%= favorite_album.name %>
        <% end %>
      </label>
    </p>
    <p class="users-edit-information">
      <label class="users-edit-information-contents">
        <label>好きな曲</label>
        <% @favorite_songs.each do |favorite_song| %>
        	<%= favorite_song.name %>
        <% end %>
      </label>
    </p>
    <p class="users-edit-information">
      <label class="users-edit-information-contents">
        <label>自己紹介文</label>
        <%= @user.introduction %>
      </label>
    </p>

    <%= link_to edit_profile_user_path(@user.id) do %>
        <button type="button" class="users-edits-button-style" >プロフィール設定</button>
      <% end %>

     <%= link_to "退会する", edit_user_registration_path, class: "unsubscribe-button-style" %></p>
  </div>
</div>
</div>
