
<div class="user-inverse" style="padding-top:80px;">
	<h1>記事検索結果</h1>
	<% @searchresult.each do |user| %>
		<div><%= attachment_image_tag user, :profile_image, :fill, 50, 50,class: "profile-img", fallback: "no_image.jpg", :width => '100', :height => '100' %></div>
		<%= link_to user_path(user.id) do %>
			<%= user.name %>
		<% end %>
		(
		<label><%= user.pref %></label>
		<label><%= user.gender %></label>
		<label><%= user.age %>歳</label>
		）
		<label><%= user.introduction %></label>
	<% end %>
</div>

