
<div class="sign-up-background-image" style="padding-top:80px;">
  <div class="view-registration-box">

    <div class="mail-icon">
      <p class="page-title">BANDLES へようこそ</p><br>
      <p class="header-buttons-signup sign-up">Sign up</p>
    </div>

    <div class="sign-up-boxes">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="users-devise-error-message"><%= devise_error_messages! %></div>

        <div class="sign-up-content-box">
          <div class="sign-up-info-boxes">
            <label class="sign-up-info-label">メールアドレス</label>
            <%= f.email_field :email, autocomplete: "email", :placeholder => "メールアドレス", class: "sign-up-info-box" %>
          </div>

          <div class="sign-up-info-boxes">
            <label class="sign-up-info-label">パスワード</label>
            <%= f.password_field :password, autocomplete: "off", :placeholder => "パスワード(8~16文字)", class: "sign-up-info-box" %>
          </div>

          <div class="sign-up-info-boxes">
            <label class="sign-up-info-label">パスワード確認</label>
            <%= f.password_field :password_confirmation, autocomplete: "off" , :placeholder => "パスワード確認", class: "sign-up-info-box" %>
          </div>

          <div class="action-sign-up-info-box">
            <%= f.submit "Sign up アカウントを作成する", class: "sign-up-info-box-button" %>
          </div>
        </div>
      <% end %>
      <%= render "users/shared/links", class: "sign-up-info-box"  %>
    </div>
  </div>
</div>
